<%- include('partials/header') -%>

<main class="container">
    <h1>Index</h1>
    <div class="row justify-content-around mt-5">
        <a href="/customerLogin" class="col-3 btn btn-primary"> Customer Login</a>
        <a href="/companyLogin" class="col-3 btn btn-primary"> Company Login</a>
    </div>
    <div class="row justify-content-around mt-5">
        <a href="/customerSignup" class="col-3 btn btn-primary"> Customer Signup</a>
        <a href="/companySignup" class="col-3 btn btn-primary"> Company Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>